<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright (c) 2023 TheMarketer.com
 * @project     TheMarketer.com
 * @website     https://themarketer.com/
 * @author      Alexandru Buzica (EAX LEX S.R.L.) <b.alex@eax.ro>
 * @license     http://opensource.org/licenses/osl-3.0.php - Open Software License (OSL 3.0)
 * @docs        https://themarketer.com/resources/api
 */
-->
<config>
    <modules>
        <Mktr_Tracker>
            <version>v1.4</version>
        </Mktr_Tracker>
    </modules>
    <crontab>
        <jobs>
            <mktr>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mktr_tracker/cron::execute</model>
                </run>
            </mktr>
        </jobs>
    </crontab>
    <global>
        <models>
            <mktr_tracker>
                <class>Mktr_Tracker_Model</class>
            </mktr_tracker>
            <newsletter>
                <rewrite>
                    <subscriber>Mktr_Tracker_Model_Newsletter</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <blocks>
            <mktr_tracker>
                <class>Mktr_Tracker_Block</class>
            </mktr_tracker>
        </blocks>
        <helpers>
            <mktr_tracker>
                <class>Mktr_Tracker_Helper</class>
            </mktr_tracker>
        </helpers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </checkout_cart_product_add_after>
            <!-- <review_controller_product_init_after>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </review_controller_product_init_after> -->
            <sales_quote_remove_item>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </sales_quote_remove_item>
            <wishlist_add_product>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </wishlist_add_product>
            <controller_action_predispatch_wishlist_index_remove>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </controller_action_predispatch_wishlist_index_remove>
            <sales_order_place_after>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </sales_order_place_after>
            <model_save_after>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </model_save_after>
            <customer_register_success>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <mktr_tracker>
                        <class>Mktr_Tracker_Observer_Events</class>
                        <method>execute</method>
                    </mktr_tracker>
                </observers>
            </customer_login>
        </events>
    </global>
    <frontend>
        <routers>
            <mktr_tracker>
                <use>standard</use>
                <args>
                    <module>Mktr_Tracker</module>
                    <frontName>mktr</frontName>
                </args>
            </mktr_tracker>
        </routers>
        <layout>
            <updates>
                <mktr_tracker>
                    <file>mktr_tracker.xml</file>
                </mktr_tracker>
            </updates>
        </layout>
    </frontend>
    <default>
        <mktr_tracker>
            <tracker>
                <status>0</status>
                <tracking_key/>
                <rest_key/>
                <customer_id/>
                <cron_feed>0</cron_feed>
                <update_feed>4</update_feed>
                <cron_review>0</cron_review>
                <update_review>4</update_review>
                <opt_in>0</opt_in>
                <push_status>0</push_status>
                <default_stock>0</default_stock>
                <allow_export>0</allow_export>
                <selectors>.btn-cart</selectors>
            </tracker>
            <attribute>
                <brand>manufacturer</brand>
                <color>color</color>
                <size>size</size>
            </attribute>
        </mktr_tracker>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mktr_tracker>
                                            <title>theMarketer</title>
                                        </mktr_tracker>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
             <admin_system_config_changed_section_mktr_tracker>
                 <observers>
                     <mktr_tracker>
                         <class>Mktr_Tracker_Observer_Events</class>
                         <method>execute</method>
                     </mktr_tracker>
                 </observers>
             </admin_system_config_changed_section_mktr_tracker>
             <sales_order_save_after>
                 <observers>
                     <mktr_tracker>
                         <class>Mktr_Tracker_Observer_Events</class>
                         <method>execute</method>
                     </mktr_tracker>
                 </observers>
             </sales_order_save_after>
         </events>
     </adminhtml>
 </config>
