<?xml version="1.0"?>
<config>
    <modules>
        <Mktr_Google>
            <version>v1</version>
        </Mktr_Google>
    </modules>
    <global>
        <blocks>
            <mktr_google>
                <class>Mktr_Google_Block</class>
            </mktr_google>
        </blocks>
        <helpers>
            <mktr_google>
                <class>Mktr_Google_Helper</class>
            </mktr_google>
        </helpers>
    </global>
    <frontend>
        <routers>
            <mktr_google>
                <use>standard</use>
                <args>
                    <module>Mktr_Google</module>
                    <frontName>mktr</frontName>
                </args>
            </mktr_google>
        </routers>
        <layout>
            <updates>
                <mktr_google>
                    <file>mktr_google.xml</file>
                </mktr_google>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mktr_google>
                                            <title>Google</title>
                                        </mktr_google>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
